.unread {
    font-weight: bold;
    color: rgb(72, 72, 220);
}

.custom-table {
  border: 1px solid #615d5d; /* Adds a border to the table */
  margin: 30px auto; /* Adds margin around the table */
  border-collapse: collapse; /* Ensures borders are not doubled */
/* width: 60%; */
}



